@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&family=Roboto&display=swap');

body {
    font-family: Roboto, sans-serif;
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgb(170, 67, 177));

}

h1 {
    font-family: Poppins, sans-serif;
    font-size: 60px;
    color: #507c1d
}

h2 {
    font-size: 20 px;
    color: #507c1d
}

.container {
    width: 100%;
    padding-bottom: 30px;


    text-align: center;
}

#list {
    display: flex;
    float: left
}


#section-1 p {

    padding: 25px;

    line-height: 30px;

    border-radius: 30px;

    max-width: 60%;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
}

.card {
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgb(80, 124, 29));
    max-width: 100%;

    padding: 10px 10px;

    border-radius: 30px;

}

img {
    border-radius: 30%;
    width: 100%;
}

.img2 {
    width: 25%
}

.caption {
    color: #8592cf;
    display: flex;
}

blockquote {
    font-weight: 600;
    border: 200px
}

#container {
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgb(80, 124, 29));

    margin: 0;
    padding: 10px 10px;
}

cite {
    font-weight: 400;
    float: auto;
}

#list-title {
    font-size: 30px;
    display: flex;
    margin: 0;
    float: left;
    color: #a72ddf;
    font-family: Lato, sans-serif;
    padding-bottom: 20px;
}

footer {
    font-size: 20px
}