<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <!-- BOOTSTRAP ICONS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

    <title>PNW Adventures</title>
</head>

<body>

    <!-- NAVBAR -->
    <nav id="navbar">
        <ul>
            <li class="nav-item">About</li>
            <li class="nav-item">Booking</li>
            <li class="nav-item">Resources</li>
        </ul>
    </nav>

    <main>

        <!-- HERO SECTION -->
        <section id="hero">

            <div class="logo">
                <i class="bi bi-compass"></i>
                <div class="logo-text">

                    <h1 class="main-text">
                        PNW Adventures
                    </h1>

                    <h2 class="sub-text">
                        Find Yourself
                    </h2>

                </div>
            </div>
            <button class="cta">Join Us!</button>

        </section>


        <!-- THREE CARDS -->
        <section id="three-cards">
            <div class="card">
                <i class="bi bi-binoculars-fill"></i>
                <h3>Lorem ipsum dolor sit.</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum perferendis autem, quisquam odio
                    vitae molestias veritatis natus earum vel maiores!</p>
            </div>

            <div class="card">
                <i class="bi bi-pin-map-fill"></i>
                <h3>Lorem ipsum dolor sit.</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum perferendis autem, quisquam odio
                    vitae molestias veritatis natus earum vel maiores!</p>
            </div>

            <div class="card">
                <i class="bi bi-tree-fill"></i>
                <h3>Lorem ipsum dolor sit.</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum perferendis autem, quisquam odio
                    vitae molestias veritatis natus earum vel maiores!</p>
            </div>
        </section>


        <!-- TESTIMONIAL -->
        <section id="testimonial">
            <blockquote>
                <div class="quotation-mark">"</div>
                <h1>
                    A life-changing adventure! I'll never be the same!
                </h1>
                <cite>- Satisfied Customer</cite>
                <h2>
                    <i class="bi bi-chat-heart"></i>
                </h2>
                <button class="cta">Book Now</button>
            </blockquote>

        </section>

        <footer>
            <h1>PNW Adventures</h1>

            <div class="columns">
                <div class="contact-info">
                    <div>
                        123 Faux St.
                    </div>
                    <div>
                        Portland, OR
                    </div>
                    <div>
                        97123
                    </div>
                    <div>
                        (555)555.5555
                    </div>
                </div>
                <div class="social-links">

                    <i class="bi bi-youtube social-link"></i>
                    <i class="bi bi-twitter social-link"></i>
                    <i class="bi bi-linkedin social-link"></i>
                            
                </div>
                <div class="site-links">
                    <a href="">About</a>
                    <a href="">Booking</a>
                    <a href="">Resources</a>
                    <a href="">Contact</a>
                </div>

            </div>
            <div class="company-links">
                <a href="">Press</a>
                <a href="">Legal</a>
                <a href="">API</a>
                <a href="">Careers</a>
                <a href="">Privacy Policy</a>
                <a href="">Terms of Service</a>
            </div>
        </footer>

    </main>


</body>

</html>