{% extends 'layout/base.html' %} {% block content %}

  <div class="container-fluid">
    <div class="text-center">
      <h3 class="my-5"><strong>Log In</strong></h3>
    </div>
    <div class="row my-5">
      <div class="d-flex justify-content-center">
        <form action="{% url 'userapp:login' %}" method="POST">
          <div class="mb-3">
            <label for="username" class="form-label"><b>Username</b></label>
            <input
              type="text"
              class="form-control bg-light"
              name="username"
              id="username"
              aria-describedby="username"
            />
          </div>
          <div class="mb-3">
            <label for="password" class="form-label"><b>Password</b></label>
            <input
              type="password"
              class="form-control bg-light"
              name="password"
              id="password"
            />
          </div>
           {% csrf_token %}
          <button type="submit" id="submit" value="login" class="btn btn-primary">
            Log In
          </button>
        </form>
      </div>

      <span class="my-2 text-center">
        Need to sign up? <a href="{% url 'userapp:register' %}">Register</a>
      </span>
    </div>
  </div>

{% endblock content %}
