<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}" />

    <title>Marcus Aurelius</title>
  </head>

  <h1>Caesar Marcus Aurelius Antoninus Augustus</h1>
  <h2>The last of the 'Five Good Emperors' of Rome</h2>
  <h2>26 April 121 - 17 March 180</h2>

  <body>
    <img
      src="https://imgs.search.brave.com/X0ITSow8owoxqcGKWXiTeH9asX66YVhCKwR7KwevM4g/rs:fit:933:1200:1/g:ce/aHR0cDovL2FuY2ll/bnRyb21lLnJ1L2Fy/dC9pbWcvNC80Mzgx/LmpwZw"
      alt="Marcus Aurelius marble bust in Louvre"
      width="400"
    />

    <img
      src="http://www.museicapitolini.org/sites/default/files/storage/images/musei/musei_capitolini/percorsi/percorsi_per_sale/museo_del_palazzo_dei_conservatori/esedra_di_marco_aurelio/statua_equestre_di_marco_aurelio/10987-17-ita-IT/statua_equestre_di_marco_aurelio.jpg"
      alt=""
    />

    <p>
      Marcus Aurelius ruled Rome as emperor from 161 until his death in 180 AD.
      Under his rule, according to noted historian Edward Gibbon, "the Roman
      Empire was ruled by absolute power, under the guidance of wisdom and
      virtue". He is one of only two emperors for whom we have existing writings
      (the other being Julius Ceasar). His <em>Meditations</em> is a treatise on
      Stoic philosophy that is still widely read, and some of his personal
      letters still exist that provide insight into his noble character.
    </p>

    <p>
      Upon the death of Antoninus Pius, Marcus assumed the role of co-emperor
      with Lucious Verus, becoming sole emperor after Lucious' death in 169.
      During his reign, the empire faced many threats including floods and
      famine, pestilence, a tribal rebellion in Germany, and a military uprising
      in Asia. His victory over the Germanic Marcomanni, Quadi, and Sarmatians
      is memorialized in the The Column of Marcus Aurelius in Piazza Colonna,
      Rome, Italy. He served as the last emperor of the 'Pax Romana,' an age of
      relative stability and peace in the Roman Empire. For more information
      anout Marcus Aurelius check out the details on
      <a href="https://en.wikipedia.org/wiki/Marcus_Aurelius" target="blank"
        >wikipedia</a
      >
    </p>
    <br />
    <div>
      <h3>A short list of some places Marcus traveled & battled</h3>
      <ul>
        <li>Rome, Italy</li>
        <li>Germany and Eastern Europe</li>
        <li>Alexandria, Egypt</li>
        <li>Antioch, Turkey</li>
        <li>Athens, Greece</li>
        <li>Vienna, Austria</li>
      </ul>
    </div>
    <br />
    <h3>
      Quotes from Marcus; his work, <em>Meditations</em>, teems with quotable
      material
    </h3>
    <figure>
      <blockquote cite="http://www.notable-quotes.com/a/aurelius_marcus.html">
        <div>
          “The first rule is to keep an untroubled spirit. The second is to look
          things in the face and know them for what they are.”
        </div>
        <div>
          "Waste no more time arguing about what a good man should be. Be one."
        </div>
        <div>
          "You have power over your mind -- not outside events. Realize this,
          and you will find strength."
        </div>
      </blockquote>
      <figcaption>-Marus Aurelius <cite>The Meditations</cite></figcaption>
    </figure>
  </body>
</html>
