{% extends 'layout/base.html' %} {% block content %}

<div class="container-fluid">
  <div class="text-center">
    <h3 class="my-5"><strong>Register</strong></h3>
  </div>
  <div class="row my-5">
    <div class="d-flex justify-content-center">
      <form action="{% url 'blogapp:register' %}" method="POST">
        <div class="mb-3">
          <label for="username" class="form-label"><b>Username</b></label>
          <input
            type="text"
            class="form-control bg-light"
            name="username"
            id="username"
            aria-describedby="username"
          />
          {% comment %}
          <div id="emailHelp" class="form-text">
            We'll never share your email with anyone else.
          </div>
          {% endcomment %}
        </div>
        <div class="mb-3">
          <label for="password" class="form-label"><b>Password</b></label>
          <input
            type="password"
            class="form-control bg-light"
            name="password"
            id="password"
          />
        </div>
        {% comment %}
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1" />
          <label class="form-check-label" for="exampleCheck1"
            >Check me out</label
          >
        </div>
        {% endcomment %} {% csrf_token %}
        <button
          type="submit"
          id="submit"
          value="Register"
          class="btn btn-primary"
        >
          Register
        </button>
      </form>
    </div>
    <span class="my-5 text-center">Need to sign in? <a href="{% url 'blogapp:login' %}">Log In</a> </span>
  </div>
</div>

{% endblock content %}
