<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nyan Cat Bio</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
</head>
<body>
    
    <div class="header"><h1><strong>Nyan Cat</strong></h1>
        
    <br>
    <img src="/static/nyan_cat_portrait.png" alt="nyan cat portrait">
    <p><span class="sprinkle">█</span>Nyan Cat is a YouTube video uploaded in April 2011, which became an internet meme. The video merged a Japanese pop song with an animated cartoon cat with a Pop-Tart for a torso flying through space and leaving a rainbow trail behind. The video ranked at number 5 on the list of most viewed YouTube videos in 2011.<span class="sprinkle">█</span></p>
    </div>
    <div class="main">
        <h2>Animated GIF</h2>
        <p>On April 2, 2011, the GIF animation of the cat was posted by 25-year-old Christopher Torres of Dallas, Texas, who uses <span class="sprinkle">█</span>the name "prguitarman", on his website LOL-Comics. Torres explained in an interview where the idea for the animation came from: "I was doing a donation drive for the Red Cross and in-between drawings in my Livestream video chat, two different people mentioned I should draw a 'Pop Tart' and a 'cat'." In response, he created a hybrid image of a Pop-Tart and a cat, which was developed a few days later into the animated GIF. The design of Nyan Cat was influenced by Torres' pet cat Marty, who died in November 2012 from feline infectious peritonitis.</p>

        <h2>Song</h2>
        <p>The original version of the song "Nyanyanyanyanyanyanya!"<span class="sprinkle">█</span> was uploaded by user "daniwell" to the Japanese video site Niconico on July 25, 2010. The song features the Vocaloid virtual singer Hatsune Miku. The Japanese word nyan is onomatopoeic, imitating the call of a cat (equivalent to English "meow"). The song was later included in the rhythm game Hatsune Miku: Project DIVA F, released by Sega in August 2012.

        On January 30, 2011, a user named "Momomomo" uploaded a cover of "Nyanyanyanyanyanyanya!" featuring the UTAU voice Momone Momo. The voice source used to create the Momone Momo voice was a Japanese woman named Momoko Fujimoto.</p>

        <h2>Youtube Video</h2>
        <p>YouTube user "saraj00n" (whose real name is Sara June) combined the cat animation with the <span class="sprinkle">█</span>"Momomomo" version of the song "Nyanyanyanyanyanyanya!", and uploaded it to YouTube on April 5, 2011, three days after Torres had uploaded his animation, giving it the title "Nyan Cat". The video rapidly became a success after being featured on websites including G4 and CollegeHumor. Christopher Torres said: "Originally, its name was Pop Tart Cat, and I will continue to call it so, but the Internet has reached a decision to name it Nyan Cat, and I'm happy with that choice, too."

        In March 2019, ownership of the YouTube channel hosting the original Nyan Cat video was transferred to Means TV, a worker-owned video streaming service.</p>

        <h2>Remastering and sale as an NFT</h2>
        <p><span class="sprinkle">█</span>In February 2021, it was reported that the gif's original creator, Chris Torres, had created an updated version and sold it as a non-fungible token (NFT) for 300 ether, the equivalent of US$587,000 at the time of sale.</p>

        <h2>Links</h2>
        <p><a href="https://en.wikipedia.org/wiki/Nyan_Cat">Nyan Cat on Wikipedia</a> | <a href="https://www.youtube.com/watch?v=lRpxecLkUHQ">Nyan Cat Genre Hopping</a> | <a href="https://www.youtube.com/watch?v=50BrZW9hYYI">Nyan Cat Variations</a> | <a href="https://www.youtube.com/watch?v=QH2-TGUlwu4">Nyan Cat Original</a></p>
    </div>
    <div class="sidebar">
        <p><h3>Quote</h3><em>"Nyanyanyanyanyanyanya!"</em> 
        </p>
        
        <p><h3>Places Lived</h3>
            <ul>
                <li>Earth</li>
                <li>Space</li>
                <li>The Internet</li>
                <li>Our Hearts</li>
            </ul>
        </p>
<br>
<img class="side_img" src="/static/nyan_cat_gif.gif" alt="nyan cat gif">
<br><br>
<img class="side_img" src="/static/tacos-nyan.gif" alt="nyan cat gif">
<br><br>
<img class="side_img" src="/static/nyan-cat-kawaii.gif" alt="nyan cat gif">

    </div>
    
    <footer> &copy; 2022 MNomadic
    </footer>
    <!--
     ██████████████████████████████████████████████████████░░                                                                                                    ░░██████████████████████████████████████████
██████████████████████████████████████████████████████░░                                                                                                    ░░██████████████████████████████████████████
██████████████████████████████████████████████████████░░                                                                                                    ░░██████████████████████████████████████████
████████████████████████████████████████████████░░    ▒▒██▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓██▓▓    ░░████████████████████████████████████
████████████████████████████████████████████████░░    ▓▓████████████████████████████████████████████████████████████████████████████████████████████████████▓▓      ████████████████████████████████████
████████████████████████████████████████████████░░    ▓▓████████████████████████████████████████████████████████████████████████████████████████████████████▓▓    ░░████████████████████████████████████
██████████████████████████████████████████░░    ▓▓██▓▓██████████████▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓██████████████▓▓██▓▓    ░░██████████████████████████████
██████████████████████████████████████████░░    ▓▓██████████████████▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓██████████████████▓▓      ██████████████████████████████
██████████████████████████████████████████░░    ▓▓██████████████████▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓██████████████████▓▓      ██████████████████████████████
██████████████████████████████████████████░░    ▓▓████████████▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▒▒▒▒▓▓▓▓▓▓▓▓▓▓▓▓▓▓▒▒▒▒▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓████████████▓▓      ██████████████████████████████
██████████████████████████████████████████░░    ▓▓████████████▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▒▒▒▒▓▓▓▓▓▓▓▓▓▓▓▓▓▓▒▒▒▒▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓██████████▓▓      ██████████████████████████████
██████████████████████████████████████████░░    ▓▓████████████▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▒▒▒▒▓▓▓▓▓▓▓▓▓▓▓▓▓▓▒▒▒▒▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓██████████▓▓      ██████████████████████████████
██████████████████████████████████████████░░    ▓▓██████▓▓▓▓▓▓▓▓▓▓▓▓▒▒▒▒▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓██████▓▓      ██████████████████████████████
██████████████████████████████████████████░░    ▓▓██████▓▓▓▓▓▓▓▓▓▓▒▒▒▒▒▒▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓████▓▓      ██████████████████████████████
██████████████████████████████████████████░░    ▓▓██████▓▓▓▓▓▓▓▓▓▓▓▓▒▒▒▒▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓████▓▓      ██████████████████████████████
██████████████████████████████████████████░░    ▓▓██████▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓██▒▒          ░░██▓▓▓▓▓▓▓▓▓▓▒▒▒▒▒▒▓▓▓▓▓▓▓▓▓▓▓▓████▓▓      ██████            ████████████
██████████████████████████████████████████░░    ▓▓██████▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓██▒▒          ░░██▓▓▓▓▓▓▓▓▓▓▒▒▒▒▒▒▓▓▓▓▓▓▓▓▓▓▓▓████▓▓      ██████            ████████████
██████████████████████████████████████████░░    ▓▓██████▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▒▒          ░░▓▓▓▓▓▓▓▓▓▓▓▓▒▒▒▒▒▒▓▓▓▓▓▓▓▓▓▓▓▓████▓▓      ██████            ████████████
██████████████████████████████████████████░░    ▓▓██████▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓██▒▒    ░░▒▒▒▒▒▒▒▒▒▒░░    ░░██▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓████▓▓            ▒▒▒▒▒▒▒▒▒▒▒▒      ██████
██████████████████████████████████████████░░    ▓▓██████▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓██▒▒    ░░▓▓▓▓▓▓▓▓▓▓░░    ░░██▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓████▓▓            ▓▓▓▓▓▓▓▓▓▓▒▒      ██████
██████████████████████████████████████████░░    ▓▓██████▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓██▒▒    ░░▓▓▓▓▓▓▓▓▓▓▒▒    ░░▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓████▓▓            ▓▓▓▓▓▓▓▓▓▓▒▒      ██████
██████                        ████████████░░    ▓▓██████▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▒▒▒▒▓▓▓▓▓▓▓▓▓▓██▒▒    ░░▓▓▓▓▓▓▓▓▓▓▒▒▒▒▒▒░░    ░░██▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓████▓▓      ▒▒▒▒▒▒▓▓▓▓▓▓▓▓▓▓▒▒      ██████
██████                        ████████████░░    ▓▓██████▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▒▒▒▒▓▓▓▓▓▓▓▓▓▓██▒▒    ░░▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▒▒    ░░██▓▓▓▓▓▓▓▓▓▓▓▓▓▓██████▓▓      ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▒▒      ██████
██████                        ▓▓██████████░░    ▓▓██████▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▒▒▒▒▓▓▓▓▓▓▓▓▓▓██▒▒    ░░▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▒▒    ░░▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓██▓▓      ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▒▒      ██████
██████      ▒▒▒▒▒▒▒▒▒▒▒▒            ██████░░    ▓▓██████▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓██▒▒    ░░▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▒▒▒▒▒▒▒▒                        ▒▒▒▒▒▒▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▒▒      ██████
██████      ▒▒▓▓▓▓▓▓▓▓▓▓            ██████░░    ▓▓██████▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓██▒▒    ░░▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▒▒                        ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▒▒      ██████
██████      ▒▒▒▒▒▒▓▓▓▓▓▓            ▓▓████░░    ▓▓██████▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓██▒▒    ░░▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▒▒                        ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▒▒      ██████
██████            ▒▒▓▓▓▓▒▒▒▒▒▒                  ▓▓██████▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▒▒▒▒▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓██▒▒    ░░▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▒▒      ██████
██████            ▒▒▓▓▓▓▓▓▓▓▓▓                  ▓▓██████▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▒▒▒▒▒▒▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓██▒▒    ░░▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▒▒      ██████
██████            ▒▒▒▒▒▒▓▓▓▓▓▓                  ▓▓██████▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▒▒▒▒▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▒▒    ░░▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▒▒      ██████
████████████            ▒▒▓▓▓▓▒▒▒▒▒▒            ▓▓██████▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▒▒▒▒░░    ░░▒▒▒▒▒▒▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▒▒▒▒▒▒      
████████████            ▒▒▓▓▓▓▓▓▓▓▓▓            ▓▓██████▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▒▒▒▒░░    ░░▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▒▒      
████████████            ▒▒▒▒▒▒▓▓▓▓▓▓            ▓▓██████▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▒▒▒▒░░    ░░▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▒▒▒▒▒▒▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▒▒▒▒▒▒▓▓▓▓▓▓▓▓▓▓▒▒      
██████████████████            ▒▒▓▓▓▓▒▒▒▒▒▒      ▓▓██████▓▓▓▓▒▒▒▒▒▒▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓░░    ░░▓▓▓▓▓▓▓▓▓▓▓▓▓▓▒▒▓▓████▓▓    ░░▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓██████      ▒▒▓▓▓▓▓▓▓▓▒▒      
██████████████████            ▒▒▓▓▓▓▓▓▓▓▓▓      ▓▓██████▓▓▓▓▒▒▒▒▒▒▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓██▒▒    ░░▓▓▓▓▓▓▓▓▓▓▓▓▓▓▒▒▓▓████▓▓      ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓██████      ▒▒▓▓▓▓▓▓▓▓▒▒      
██████████████████            ▒▒▒▒▒▒▒▒▒▒▒▒      ▓▓██████▓▓▓▓▒▒▒▒▒▒▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓██▒▒    ░░▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓████▓▓      ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▒▒▒▒▒▒▓▓▓▓▓▓██████      ▒▒▓▓▓▓▓▓▓▓▒▒      
████████████████████████                        ▓▓██████▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓██▒▒    ░░▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▒▒            ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▒▒      ▓▓▓▓▒▒            ▒▒▓▓▓▓▓▓▓▓▒▒      
████████████████████████                        ▓▓██████▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓██▒▒    ░░▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓░░            ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▒▒      ▓▓▓▓▒▒            ▒▒▓▓▓▓▓▓▓▓▒▒      
████████████████████████░░                      ▓▓██████▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓██▒▒    ░░▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▒▒          ░░▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▒▒      ▓▓▓▓▒▒            ▓▓▓▓▓▓▓▓▓▓▒▒      
████████████████████████████████████            ▓▓██████▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▒▒▒▒▓▓▓▓▓▓▓▓▓▓██▒▒    ░░▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▒▒▒▒▒▒▒▒▒▒▒▒▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▒▒▒▒▒▒▓▓▓▓▓▓▒▒▒▒▒▒▒▒▒▒▒▒▓▓▓▓▓▓▓▓▓▓▓▓      
████████████████████████████████████            ▓▓██████▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▒▒▒▒▓▓▓▓▓▓▓▓▓▓██▒▒    ░░▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓      
████████████████████████████████████░░          ▓▓██████▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▒▒▒▒▓▓▓▓▓▓▓▓▓▓██▒▒    ░░▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▒▒▒▒▒▒▒▒▓▓▓▓▓▓▓▓▓▓▓▓▒▒▒▒▒▒▓▓▓▓▓▓▓▓▓▓▓▓▒▒▒▒▒▒▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓      
██████████████████████████████████████████░░    ▓▓████████████▓▓▓▓▓▓▒▒▒▒▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓██▒▒    ░░▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▒▒    ░░▓▓▓▓▓▓▓▓▓▓▒▒      ▓▓▓▓▓▓▓▓▓▓▒▒      ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓      
██████████████████████████████████████████░░    ▓▓████████████▓▓▓▓▒▒▒▒▒▒▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓██▒▒    ░░▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▒▒      ▓▓▓▓▓▓▓▓▓▓▒▒      ▓▓▓▓▓▓▓▓▓▓▒▒      ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓      
██████████████████████████████████████████░░    ▓▓████████████▓▓▓▓▓▓▒▒▒▒▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓██▒▒    ░░▒▒▒▒▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▒▒      ▒▒▒▒▒▒▒▒▒▒▒▒      ▒▒▒▒▒▒▒▒▒▒▒▒      ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓      
██████████████████████████████████████████░░    ▓▓████████████████▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▒▒    ░░▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▒▒                                          ▓▓▓▓▓▓▓▓▓▓▒▒      ██████
██████████████████████████████████████████░░    ▓▓██████████████████▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓██▒▒    ░░▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▒▒                                          ▓▓▓▓▓▓▓▓▓▓▒▒      ██████
██████████████████████████████████████████░░    ▒▒██▓▓██████████████▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓██▒▒    ░░▒▒▒▒▒▒▓▓▓▓▓▓▓▓▓▓▒▒                                          ▓▓▓▓▓▓▒▒▒▒▒▒      ██████
████████████████████████████████████░░                ▓▓██████████████████████████████████████████████████████▓▓██▒▒    ░░▓▓▓▓▓▓▓▓▓▓▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▓▓▓▓▒▒      ████████████
████████████████████████████████████                  ▓▓██████████████████████████████████████████████████████████▒▒    ░░▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▒▒      ████████████
████████████████████████████████████░░                ▒▒██▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓██▒▒    ░░▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒      ████████████
██████████████████████████████░░    ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒░░                                                                                                                              ██████████████████
██████████████████████████████      ▒▒▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓                                                                                                                                ██████████████████
██████████████████████████████      ▒▒▓▓▓▓▓▓▓▓▓▓▒▒▒▒▒▒                                                                                                                                ██████████████████
██████████████████████████████      ▒▒▓▓▓▓▓▓▓▓▓▓            ▓▓████░░    ░░▒▒▒▒▒▒▒▒▒▒░░    ▒▒████████████████████████████▒▒    ░░▒▒▒▒▒▒▒▒▒▒░░    ░░████▓▓      ▒▒▒▒▒▒▒▒▒▒▒▒      ████████████████████████
██████████████████████████████      ▒▒▓▓▓▓▓▓▓▓▓▓            ▓▓████░░    ▒▒▓▓▓▓▓▓▓▓▓▓░░    ▒▒████████████████████████████▓▓    ░░▓▓▓▓▓▓▓▓▓▓▒▒    ░░████▓▓      ▓▓▓▓▓▓▓▓▓▓▒▒      ████████████████████████
██████████████████████████████      ▒▒▒▒▒▒▒▒▒▒▒▒            ▓▓████░░    ░░▒▒▒▒▒▒▒▒▒▒░░    ▒▒████████████████████████████▓▓    ░░▒▒▒▒▒▒▒▒▒▒░░    ░░████▓▓      ▒▒▒▒▒▒▒▒▒▒▒▒    ░░████████████████████████
██████████████████████████████                        ▓▓██████████░░                ▒▒████████████████████████████████████████▓▓                ░░██████████▓▓          ░░██████████████████████████████
██████████████████████████████                        ▓▓██████████░░                ▒▒████████████████████████████████████████▓▓                ░░████████████            ██████████████████████████████
██████████████████████████████                        ▓▓██████████░░                ▒▒████████████████████████████████████████▓▓                ░░██████████▓▓            ██████████████████████████████
    -->
</body>

</html>