<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BlogGo.com</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <section class="container">

        <div id="content">

            <h1>Use Code: '#STARTIN22' at Checkout for 22% off!!</h1>
            <nav id="top-nav">
                <a href="">Home</a>
                <a href="">Shop</a>
                <a href="http://127.0.0.1:5000/">Blog</a>
                <a href="">FAQ</a>
                <a href="">Contact</a>

            </nav>
        </div>

        <section class="container" id="left-side">
            <div class="row" style="padding-bottom: 450px">
                <nav id="side-nav">
                    <img src="https://picsum.photos/200">
                    <a href="https://www.theminimalists.com/blog/">How to Start a Successful Blog in 2022</a>
                    <img src="https://picsum.photos/200">
                    <a href="https://www.quicksprout.com/how-to-start-a-blog/">How to Start a Blog That Makes Money in
                        11
                        Simple Steps</a>
                    <img src="https://picsum.photos/200">
                    <a href="https://firstsiteguide.com/start-blog/">How to Start a Blog: The Complete Beginner's Guide
                        2022</a>

                </nav>
            </div>
            <section class="container" id="blank">
                <div>
                    <h2 class="space">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Dolore iste exercitationem porro dignissimos corporis,
                        quidem illum tempore aperiam corrupti.
                    </h2>


                </div>
            </section>

            <body>
                <section class="container" id="blog-box">
                    <div class="card">
                        <img src="https://picsum.photos/200">
                        <a href="https://firstsiteguide.com/start-blog/">How to Start a Blog: The Complete Beginner's
                            Guide
                            2022</a>
                        <div class="card-footer row ">
                            <a href="">Learn more &darr;</a>
                        </div>
                    </div>
                </section>

                <section class="container" id="blog-box">
                    <div class="card">
                        <img src="https://picsum.photos/200">
                        <a href="https://www.theminimalists.com/blog/">How to Start a Successful Blog in 2022</a>
                        <div class="card-footer row">
                            <a href="">Learn more &darr;</a>
                        </div>
                    </div>
                </section>

                <section class="container" id="blog-box">
                    <div class="card">
                        <img src="https://picsum.photos/200">
                        <a href="https://www.quicksprout.com/how-to-start-a-blog/">How to Start a Blog That Makes Money
                            in 11
                            Simple Steps</a>
                        <div class="card-footer row">
                            <a href="">Learn more &darr;</a>
                        </div>
                    </div>
                </section>
                <section class="container" id="blog-box">
                    <div class="card">
                        <img src="https://picsum.photos/200">
                        <a href="https://firstsiteguide.com/start-blog/">How to Start a Blog: The Complete Beginner's
                            Guide
                            2022</a>
                        <div class="card-footer row">
                            <a href="">Learn more &darr;</a>
                        </div>
                    </div>
                </section>
                <section class="container" id="blog-box">
                    <div class="card">
                        <img src="https://picsum.photos/200">
                        <a href="https://firstsiteguide.com/start-blog/">How to Start a Blog: The Complete Beginner's
                            Guide
                            2022</a>
                        <div class="card-footer row">
                            <a href="">Learn more &darr;</a>
                        </div>
                    </div>
                </section>
                <section class="container" id="blog-box">
                    <div class="card">
                        <img src="https://picsum.photos/200">
                        <a href="https://firstsiteguide.com/start-blog/">How to Start a Blog: The Complete Beginner's
                            Guide
                            2022</a>
                        <div class="card-footer row">
                            <a href="">Learn more &darr;</a>
                        </div>

                    </div>
                </section>
                <section id="foot-box">
                    <div class="container" id=blank-2>

                        <footer>12 April 2022</footer>
                    </div>
                </section>
                </div>
                </div>
        </section>
    </section>
</body>

</html> 