<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <title>Company Home Page</title>

</head>

<body>
    <!----------- Top Navs Heading----------- -->
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <a class="logo navbar-brand">
                    <img src="https://www.nasa.gov/sites/all/themes/custom/nasatwo/images/nasa-logo.svg" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" style="color: aliceblue;" aria-current="page" href="#">Home</a>
                        </li>
                        <li>
                            <a class="nav-link active" style="color: aliceblue;" aria-current="page"
                                href="#">Missions</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" style="color: aliceblue;" aria-expanded="false"></a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: blue;">
                                <li><a class="dropdown-item" href="#">Artemis</a></li>
                                <li><a class="dropdown-item" href="#">Commencial Crew</a></li>
                                <li><a class="dropdown-item" href="#">DART</a></li>
                                <li><a class="dropdown-item" href="#">Parker Solar Probe</a></li>
                                <li><a class="dropdown-item" href="#">All Missions</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="nav-link active" style="color: aliceblue;" aria-current="page"
                                href="#">Galleries</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" style="color: aliceblue;" aria-expanded="false"></a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: blue;">
                                <li><a class="dropdown-item" href="#">Image of Day</a></li>
                                <li><a class="dropdown-item" href="#">UHDV</a></li>
                                <li><a class="dropdown-item" href="#">Videos</a></li>
                                <li><a class="dropdown-item" href="#">Usage & Copyright</a></li>
                                <li><a class="dropdown-item" href="#">Image Galleries</a></li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" style="color: aliceblue;" aria-current="page"
                                href="#">NASA/TV</a>
                        </li>

                        <li>
                            <a class="nav-link active" style="color: aliceblue;" aria-current="page"
                                href="#">Follow/NASA</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" style="color: aliceblue;" aria-expanded="false"></a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: blue;">
                                <li><a class="dropdown-item" href="#">Get Involved</a></li>
                                <li><a class="dropdown-item" href="#">NASA Blogs</a></li>
                                <li><a class="dropdown-item" href="#">NASA Live</a></li>
                                <li><a class="dropdown-item" href="#">NASA Newsletters</a></li>
                                <li><a class="dropdown-item" href="#">NASA Social</a></li>
                                <li><a class="dropdown-item" href="#">Social Media</a></li>
                            </ul>
                        </li>


                        <li>
                            <a class="nav-link active" style="color: aliceblue;" aria-current="page"
                                href="#">Downloads</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" style="color: aliceblue;" aria-expanded="false"></a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: blue;">
                                <li><a class="dropdown-item" href="#">Apps</a></li>
                                <li><a class="dropdown-item" href="#">Audio & Ringtones</a></li>
                                <li><a class="dropdown-item" href="#">E-Books</a></li>
                                <li><a class="dropdown-item" href="#">Products</a></li>
                                <li><a class="dropdown-item" href="#">Third Rock Radio</a></li>
                            </ul>
                        </li>

                        <li>
                            <a class="nav-link active" style="color: aliceblue;" aria-current="page" href="#">About</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" style="color: aliceblue;" aria-expanded="false"></a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: blue;">
                                <li><a class="dropdown-item" href="#">About NAS</a></li>
                                <li><a class="dropdown-item" href="#">Astronauts</a></li>
                                <li><a class="dropdown-item" href="#">Carriers</a></li>
                                <li><a class="dropdown-item" href="#">Exhibits & Speakers</a></li>
                                <li><a class="dropdown-item" href="#">Leaderships</a></li>
                                <li><a class="dropdown-item" href="#">Locations</a></li>
                                <li><a class="dropdown-item" href="#">Organizations</a></li>
                                <li><a class="dropdown-item" href="#">People of NASA</a></li>
                            </ul>
                        </li>


                        <li>
                            <a class="nav-link active" style="color: aliceblue;" aria-current="page"
                                href="#">NASA/Audiences</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" style="color: aliceblue;" aria-expanded="false"></a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: blue;">
                                <li><a class="dropdown-item" href="#">For Media</a></li>
                                <li><a class="dropdown-item" href="#">For Educators</a></li>
                                <li><a class="dropdown-item" href="#">For Syudents</a></li>
                                <li><a class="dropdown-item" href="#">Exhibits & Speakers</a></li>
                                <li><a class="dropdown-item" href="#">Grades K-4</a></li>
                                <li><a class="dropdown-item" href="#">Grades 5-8</a></li>
                                <li><a class="dropdown-item" href="#">Grades 9-11</a></li>
                                <li><a class="dropdown-item" href="#">Collages & Universities</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    </div>
    <!-- ----------Container containing all images------ -->
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6">
                <img src="http://www.nasa.gov/sites/default/files/thumbnails/image/imgpsh_fullsize_anim1.jpg" alt=""
                    class="layout-image">
                <p class="page">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus?
                </p>
            </div>
            <div class="col-12 col-lg-6">
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <img src="https://media.wired.com/photos/5c6f46d93e8add2cdb917279/16:9/w_2399,h_1349,c_limit/spaceshuttle.jpg"
                            alt="" class="layout-image">
                        <p class="page">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus vitae
                            Lorem ipsum dolor sit, amet consectetur.
                        </p>
                    </div>
                    <div class="col-12 col-lg-6">
                        <img src="https://media.istockphoto.com/photos/global-communication-network-picture-id1317845608?b=1&k=20&m=1317845608&s=170667a&w=0&h=YhLfY3fbUiKVV1-9m4hlSCqF2eMaYrUdl_6mtaRoXQ4="
                            alt="" class="layout-image">
                        <p class="page">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque velit odio nostrum?
                            Lorem ipsum dolor sit, amet consectetur.
                        </p>
                    </div>
                    <div class="col-12">
                        <img src="https://cdn.vox-cdn.com/thumbor/Ohof7BHob_gM8-VxjdrVslaN0AQ=/0x399:5568x3314/fit-in/1200x630/cdn.vox-cdn.com/uploads/chorus_asset/file/22957979/iss065e376654.jpg"
                            alt="" class="layout-image">
                        <p class="page">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa.
                        </p>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-12 col-lg-3">
                        <img src="https://images.unsplash.com/photo-1454789415558-bdda08f4eabb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8bmFzYXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                            alt="" class="layout-image">
                        <p class="page">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                            Repudiandae consectetur adipisicing elit. Ipsum.
                        </p>
                    </div>
                    <div class="col-12 col-lg-6">
                        <img src="https://d2pn8kiwq2w21t.cloudfront.net/original_images/imagesmars202020190726PIA23212-16.jpg"
                            alt="" class="layout-image">
                        <p class="page">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Perspiciatis?
                        </p>
                    </div>
                    <div class="col-12 col-lg-3">
                        <img src="https://www.kennedyspacecenter.com/-/media/DNC/KSCVC/Attraction-Images/All-Attractions/mars-rover-sq-879.ashx?h=879&w=879&la=en&hash=06488CC33BE8C456906496A810C8C60E71FFD452"
                            alt="" class="layout-image">
                        <p class="page">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Ipsum consectetur adipisicing elit. Ipsum.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-12 col-lg-3">
                        <img src="https://image.cnbcfm.com/api/v1/image/106942080-1631707900848-51472315524_269f1688e9_k.jpg?v=1631708020"
                            alt="" class="layout-image">
                        <p class="page">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat. Lorem ipsum doll
                        </p>
                    </div>
                    <div class="col-12 col-lg-3">
                        <img src="https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fimages.unsplash.com%2Fphoto-1562158148-ef8a4934aa9b%3Fixlib%3Drb-1.2.1%26ixid%3DMnwxMjA3fDB8MHxzZWFyY2h8MjR8fG5hc2ElMjBsb2dvfGVufDB8fDB8fA%253D%253D%26auto%3Dformat%26fit%3Dcrop%26w%3D500%26q%3D60"
                            alt="" class="layout-image">
                        <p class="page">
                            Lorem ipsum dolor sit amet consectetur Delectus. Lorem ipsum
                        </p>
                    </div>
                    <div class="col-12 col-lg-3">
                        <img src="https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fmedia.istockphoto.com%2Fphotos%2Finternational-space-station-in-2022-in-outer-space-iss-floating-on-picture-id1362967310%3Fb%3D1%26k%3D20%26m%3D1362967310%26s%3D170667a%26w%3D0%26h%3DBEwjyudK_CDS8HuvMb1GbursYKcULAcQ4gadEVtfOd8%3D"
                            alt="" class="layout-image">
                        <p class="page">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                            Delectus. Lorem ipsum
                        </p>
                    </div>
                    <div class="col-12 col-lg-3">
                        <img src="https://nasa3d.arc.nasa.gov/shared_assets/models/nmss-sev/MMSEV_428x321.png" alt=""
                            class="layout-image">
                        <p class="page">
                            Lorem ipsum dolor sit amet consectetur.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>