<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>My First HTML Page</title>
    </head>
    <body>
        <!-- HTML comment use CTR fwd slash -->
        <!-- NAVBAR -->
        <nav>
            <!-- UNORDERED LIST -->
            <ul>
                <li>Unordered Item 1</li>
                <li>Unordered Item 2</li>
                <li>Unordered Item 3</li>
            </ul>
            <!-- ORDERED LIST -->
            <ol>
                <li>Ordered Item 1</li>
                <li>Ordered Item 2</li>
                <li>Ordered Item 3</li>
            </ol>
        </nav>

        <!-- Section is a 'semantic' html element -->
        <section>
            <!-- HEADERS -->
            <header><h1>Header 1</h1></header>
            <header><h2>Header 2</h2></header>
            <header><h3>Header 3</h3></header>
            <header><h4>Header 4</h4></header>
            <header><h5>Header 5</h5></header>
            <header><h6>Header 6</h6></header>
       

            <!-- divs are 'block' elements (built in line breaks) -->
            <div>Div 1</div>
            <div>Div 2</div>

            <p>Paragraph 1</p>
            <p>Paragraph 2</p>

            <!-- span tags are 'inline' tags (no line breaks) -->
            <span>span 1</span><span>span 2</span>

            <br/>

            <span>S</span><span>pans</span>


        </section>

        <br/>
        <br/>
        <br/>

        <section>
                <details open>
                    <summary>My Dropdown</summary>
                    <!-- sup - superscript -->
                    <!-- sub - subscript -->
                    E = mc<sup>2</sup> <br/>
                    O(nlog<sub>n</sub>)

                    
                    <p>
                        <!-- b - BOLD -->
                        <b>Lorem</b> ipsum dolor sit amet consectetur, adipisicing elit. 
                    </p>

                    <p>
                        <!-- i - ITALIC -->
                        <i>gusto</i> laborum minus voluptatem ea consequatur debitis quas ipsum deleniti error delectus, 
                        eum odit possimus vel quo reiciendis eius amet vitae blanditiis.
                    </p>


                </details>
        </section>

        <!-- LINE BREAK -->
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>


        <footer>Footer</footer>


    </body>
</html>