{% extends 'base.html' %}
<!-- no spaces between brackets and percent -->
{% block content %}
<h1>hello world</h1>
<form action="{% url 'todo_app:save_todo_item' %}" method="post">
  {% csrf_token %}
  <input type="text" name="todo_text" placeholder="What do you have to do?" />
  <input type="submit" value="Submit" />
  <select name="priority" id="priority">
    <option value="low">Low</option>
    <option value="medium">Medium</option>
    <option value="high">High</option>
  </select>
</form>
<div class="class col-12 align-content middle">
  {% for todo in todos %}

  <p>{{ todo }} {{todo.priority}}</p>

  {% endfor %}
</div>
{% endblock %}
