<nav>

    <a href="{% url 'polls_app:index' %}" class="nav-link">Home</a>

    {% if request.user.is_authenticated %}

    <!-- in order to make a link which navigates to a page using a url parameter,
    include the parameter after the app and path name in the jinja expression -->
    <a href="{% url 'users_app:detail' request.user.username %}" class="nav-link">My Account</a>
    <a href="{% url 'users_app:logout' %}" class="nav-link">Log Out</a>
    {% else%}

    <a href="{% url 'users_app:register' %}"  class="nav-link">Register</a>
    <a href="{% url 'users_app:login' %}" class="nav-link">Log In</a>

    {% endif %}
</nav>