body {
    background-image: url(https://c.tenor.com/AJBv6U1rfkQAAAAC/background-image-galaxy.gif);
    margin: 0px;
}

/* -----------------Container contain all-----------------  */
.container {
    display: flex;
    margin-left: 90px;
    padding-right: 0px;
}


/* -----------Nasa Logo----------------  */
.logo img {
    width: 110px;
    height: 100px;
    margin: 0px 0px 0px 0px;
}

.container .row {
    background: black;   
}
 
.container .navbar {
    background: rgba(0, 0, 0, 0.5);
}

/* ------------images-------------- */
img {
    width: 100%;
}
.navbar {
    width: 1200px;
    margin-right: 0px;
    margin-left: 0px;
}

.nav-item .nav-link {
    color: aliceblue;
}
/* ----------Paragraph Pages--------------------- */

.page {
    color: black;
    background: white;
}

/* ----------------Responsive Breakpoint--------- */
/* 
@media screen and (min-width: 300px){
    .row {
        max-width: 70vw;
        justify-content: column;
    }

@media screen and (max-width: 1200px){
    .container {
        flex-direction: row;
        padding: 15px;      
} */