{% extends 'base.html' %}

<!-- include the static variable for images -->
{% load static %}

{% block content %}

<div class="row">
    <div class="col-12 col-lg-8 offset-lg-2 d-flex flex-column gap-3 align-items-center pt-5">
        <h1 class="h1">{{user.username}}</h1>

        <!-- user's avatar -->
        <img src="{% static user.avatar.url %}" alt="{{user.username}}'s avatar"
            class="rounded-circle shadow" height="250" width="250">
        
        <!-- link to edit pate -->
        <a href="{% url 'users_app:update' user.username %}" class="h3 link-secondary">
            <i class="bi bi-pencil-square"></i>
        </a>
    </div>

    <div class="col-8 offset-2 col-lg-4 offset-lg-4">
        <table class="table">
            <thead></thead>
            <tbody>
                <tr scope="row">
                    <th>
                        Email
                    </th>
                    <td>
                        {{user.email}}
                    </td>
                </tr>
                <tr scope="row">
                    <th>
                        First
                    </th>
                    <td>
                        {% if user.first_name %}
                        {{user.first_name}}
                        {% else%}
                        Not Provided
                        {% endif %}
                    </td>
                </tr>
                <tr scope="row">
                    <th>
                        Last
                    </th>
                    <td>
                        {% if user.last_name %}
                        {{user.last_name}}
                        {% else%}
                        Not Provided
                        {% endif %}
                    </td>
                </tr>
                <tr scope="row">
                    <th>
                        Joined
                    </th>
                    <td>
                        {{user.date_joined}}
                    </td>
                </tr>



            </tbody>
        </table>
    </div>

    
</div>

<!-- Display the users pics -->
<h1 class="h1 text-center">
    Pics
</h1>
<div class="row d-flex justify-content-center pb-5" data-masonry='{"percentPosition": true }'>
    <!-- loop through all the user's pics -->
    {% for pic in user.pics.all %}
    
        <!-- use the pic card partial with the pic data -->
        {% include 'pics/_card.html' with pic=pic %}

    {% endfor %}
</div>

{% endblock content %}