<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename = 'styles.css')}}">


    <title>Kris' Blog about Otto</title>
</head>
<body>
    <header> Kris' Blog About Otto Things</header>
    <div class="topnav">
        <div class="box" id="box-1">Otto pic 1</div>
        <div class="box" id="box-2">Otto pic 2</div>
        <div class="box" id="box-3">Otto pic 3</div>
        <div class="box" id="box-4">Otto pic 4</div>
        
    </div>
    <main class="container">
        <div class="sidenav">
            <div class="sidenav-item">Otto and Kris Pic</div>
            <div class="sidenav-item">Otto and Kris Pic</div>
            <div class="sidenav-item">Otto and Kris Pic</div>
            <div class="sidenav-item">Otto and Kris Pic</div>       
        </div>

        <div class="content">
            content
        </div>


        
    </main>
</body>
</html>