<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename = 'styles.css')}}">


    <title>Kris' Blog about Otto</title>
</head>
<body>
    <header> Kris' Blog About Otto Things</header>
    <div class="topnav">
        <div class="box" id="box-1">Otto pic 1</div>
        <div class="box" id="box-2">Otto pic 2</div>
        <div class="box" id="box-3">Otto pic 3</div>
        <div class="box" id="box-4">Otto pic 4</div>
        
    </div>
    <main class="container">
        <div class="sidenav">
            <div class="sidenav-item">Otto and Kris Pic</div>
            <div class="sidenav-item">Otto and Kris Pic</div>
            <div class="sidenav-item">Otto and Kris Pic</div>
            <div class="sidenav-item">Otto and Kris Pic</div>       
        </div>

        <div class="content">
            <div class="article">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita atque deserunt facilis, deleniti illum vel qui sint facere tempora, tenetur cumque voluptatem veritatis repellendus, rem tempore. Sit autem assumenda eum!
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore velit ab aliquam fuga autem! Sunt in ullam quisquam minus fugit consequuntur blanditiis veritatis ipsa, quo, voluptas modi ipsam vero ex!
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit itaque molestiae voluptas maiores? Ullam quae iure laudantium consectetur culpa? Repudiandae eius velit nisi quidem aliquid harum culpa! Enim, cum officiis?
            </div>
            <div class="article">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque reprehenderit fuga provident tempora sequi delectus laborum! Sit quo doloribus rerum. Natus, magnam maiores saepe impedit minus simili Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente at minus debitis. Nulla eum vitae voluptatum. Ipsam ullam ea harum expedita amet nesciunt architecto laboriosam quos animi cupiditate. Sit, ut. que delectus accusantium aspernatur?</div>
            <div class="article">Lorem ipsum dolor Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus reiciendis voluptatem, deleniti unde fuga, laborum quaerat repellendus voluptatum debitis quidem quia laboriosam pariatur facilis ea enim eos ipsa. Dolorem, pariatur. sit amet, consectetur adipisicing elit. Nihil cupiditate dignissimos molestiae tempore cumque minus beatae unde architecto aperiam facere? Ad dignissimos quae ex temporibus non officia pariatur omnis deserunt!</div>
            <div class="article">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos earum, deleniti, quas voluptates ut dignissimos doloribus nesciunt in non alias, eligendi placeat saepe tempora. Voluptates repellendus Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur porro dignissimos aliquam tempora alias repudiandae est, tenetur beatae quod sint veritatis necessitatibus at quasi aperiam sit nostrum voluptas possimus autem. libero fugit aspernatur corporis.</div>
            <div class="article">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur voluptate tempore atque aliquid suscipit? Voluptatibus provident laboriosam veniam? Possimus nam consequuntur nesciunt debitis excepturi quis amet necessitatibus qui invento Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores dolorem vitae aliquam ex voluptatibus ullam sed accusamus dolorum eaque libero rem, aspernatur sequi corrupti iusto debitis! Corrupti minus tempore quibusdam. re cum!</div>
        </div>


        
    </main>
</body>
</html>