<form>
  <div class="row mb-3">
    <label for="name"
      class="col-sm-2 col-lg-3 col-form-label text-sm-center text-md-end text-lg-end user-input">Name</label>
    <div class="col-sm-9 col-lg-6">
      <input type="email" class="form-control bg-light" id="inputName" />
    </div>
  </div>
  <div class="row pb-2 mb-3">
    <label for="password"
      class="col-sm-2 col-lg-3 col-form-label text-sm-center text-md-end text-lg-end user-input">Password</label>
    <div class="col-sm-9 col-lg-6">
      <input type="password" class="form-control bg-light" id="inputPassword" />
    </div>
  </div>
  <hr>

  <section class="
container">

  <div class="row"">
    
    <!-- Tortilla -->
    <div class="col-12 col-lg-8 offset-lg-2 offset-sm-2 d-flex">
     <fieldset
      class="col-12 col-lg-8 offset-lg-2 d-flex">
        <legend class="col-form-label col-sm-2 pt-0 justify-content-center text-md-center text-lg-center">
          Tortillas:
        </legend>

        <!-- Tortillas Radio Buttons -->
        <div class="col-8 justify-content-center">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="tortillas" id="tortillas1" value="White Flour" checked />
            <label class="form-check-label" for="tortillas1"> White Flour</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="tortillas" id="tortillas2" value="Wheat Flour" />
            <label class="form-check-label" for="tortillas2"> Wheat Flour </label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="tortillas" id="tortillas3" value="Spinach" />
            <label class="form-check-label" for="tortillas3">
              Spinach
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="tortillas" id="tortillas4" value="Corn" />
            <label class="form-check-label" for="tortillas4">Corn</label>
          </div>
        </div>
      </fieldset>
    </div>
 
    
        <!-- Protien -->
    <div class="col-12 col-lg-8 offset-lg-2 offset-sm-2 d-flex">   
      <fieldset class="col-12 col-lg-8 offset-lg-2 d-flex">
        <legend class="col-form-label col-sm-2 pt-0 justify-content-center text-md-center text-lg-center">
          Protein:
        </legend>

        <!-- Protein Radio Buttons -->
        <div class="col-8 justify-content-center">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="protein" id="protein1" value="Carnitas" checked />
            <label class="form-check-label" for="protein1"> Carnitas</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="protein" id="protein2" value="Chicken" />
            <label class="form-check-label" for="protein2">Chicken </label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="protein" id="protein3" value="Sofitas" />
            <label class="form-check-label" for="protein3">
              Sofitas
            </label>
          </div>

          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="protein" id="protein4" value="None" />
            <label class="form-check-label" for="protein4">
              None
            </label>
          </div>
        </div>
      </fieldset>
    </div>
        <!-- Rice & Beans -->

<!-- Rice -->
    <div class="col-12 col-lg-8 offset-lg-2 offset-sm-2 d-flex">
      <!-- <fieldset class="pt-3 ms-sm-1 ms-md-5 ms-lg-5"> -->
      <fieldset class="col-12 col-lg-8 offset-lg-2 d-flex">
          <legend class="col-form-label col-sm-2 pt-0 justify-content-center text-md-center text-lg-center">
            Rice:
          </legend>

        <!-- Rice Radio Buttons -->
        <div class="col-8">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="rice" id="rice1" value="White Rice" checked />
            <label class="form-check-label" for="rice1" style="width:100px"> White
              Rice</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="rice" id="rice2" value="Brown Rice" />
            <label class="form-check-label" for="rice2" style="width:100px">Brown Rice
            </label>
          </div>
      </fieldset>
    </div>


          <!-- Beans -->
    <div class="col-12 col-lg-8 offset-lg-2 offset-sm-2 d-flex">

      <fieldset class="col-12 col-lg-8 offset-lg-2 d-flex">
        <legend class="col-form-label col-sm-2 pt-0 justify-content-center text-md-center text-lg-center">
          Beans:
        </legend>

        <!-- Beans Radio Buttons -->
        <div class="col-8 justify-content-center">
          <div class="form-check form-check-inline">
            <input class="form-check-input text-md-start text-lg-start" type="radio" s name="beans" id="beans1"
              value="Black Beans" checked />
            <label class="form-check-label" for="beans1" style="width: 100px">Black
              Beans</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="beans" id="beans2" value="Pinto Beans" />
            <label class="form-check-label" for="beans2" style="width: 100px">Pinto
              Beans</label>
          </div>
        </div>
      </fieldset>
    </div>

    
        <!-- </section> -->
    <div class="col-12 col-lg-8 offset-lg-2 offset-sm-2 d-flex">
        <!-- Add'l Items -->
      <fieldset class="col-12 col-lg-8 offset-lg-2 d-flex">
        <legend class="col-form-label col-sm-2 pt-0 justify-content-center text-md-center text-lg-center">
          Add'l Items:
        </legend>

        <!-- Checkboxes -->
        <div class="col-8 justify-content-center">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="additional" id="additional1" value="Cheese"
              checked />
            <label class="form-check-label" for="additional1">Cheese</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="additional" id="additional2" value="Sour Cream" />
            <label class="form-check-label" for="additional2">Sour Cream</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="additional" id="additional3" value="Guacamole" />
            <label class="form-check-label" for="additional3">
              Guacamole
            </label>
          </div>

      </fieldset>
    </div>
        <hr>

        <div class="mb-3 mt-3 col-9 offset-1">
          <label for="delivery" class="form-label">Delivery Instructions</label>
          <textarea class="form-control bg-light" id="delivery" rows="3"></textarea>
        </div>



  </div>
  </section>
</form>