<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jules Winnfield Bio</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'styles.css')}}">
</head>


<body>
    <center>
        <h1>
            <a href="http://pulpfiction.fandom.com/wiki/Jules_Winnfield">
                Jules Winnfield
            </a>
        </h1>
        <img src="{{url_for('static', filename = 'images/Jules.jpg')}}" alt="Jules Winnfield">
        <h5>Jules Winnfield is a hired gun for Marsellus Walus. He is a religious man and frequently ends his monologues
            by saying
            "And I will strike down upon thee with great vengeance...
            And you will know I am the Lord when I lay my vengeance upon you."
            an adaptation of Ezekiel 25:17.
        </h5>
        <h5><i>Current Residence:</i></h5>
        <p>Jules currently resides in Los Angeles, California</p>
        <div>
            <h5><i>Quotes</i></h5>
        </div>

        <ul style="font-family: cursive;"> <i>

                <li>
                    "The path of the righteous man is beset on all sides by the iniquities of the selfish and the
                    tyranny of evil men.
                    Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of
                    the darkness.
                    For he is truly his brother's keeper and the finder of lost children.
                    And I will strike down upon thee with great vengeance and furious anger those who attempt to poison
                    and destroy my brothers.
                    And you will know I am the Lord when I lay my vengeance upon you."
                </li>
                <li>Check out the big brain on Brett!
                </li>

                *BANG BANG BANG*
        </ul>


    </center>
</body>

</html>