{% extends 'base.html' %}

{% load static %}

{% block content %}
<section class="container-fluid" style="background-color:#f682b6">
    <div class="row py-4 d-flex justify-content-center align-items-center">
        <div class="col-8 card pt-4 pb-3 gap-3 bg-dark text-light shadow-lg">
            <h3 class="pb-2 d-flex justify-content-center align-items-center text-light">Card Validation</h3>
            <input class="" type="text" id="card_number" placeholder='16 Digit Card Number' />
            <button class="btn btn-outline pl-3 mt-2 text-light" id="validate">Validate</button>
            <h6 class='pb-4 mt-3 text-light d-flex justify-content-center align-items-center' id="is_valid"></h6>
        </div>
    </div>
</section>




<script src="{% static 'js/cc_valid.js' %}"></script>
{% endblock content %}