@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Varela+Round&display=swap');


body{
    background-image: radial-gradient(gray, black, red);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Questrial', sans-serif;
}
/* =====================Unit Converter============================== */

.unity-converter{
    width: 600px;
    height: 300px;
    background-color: gray;
    position: absolute;
    left: 50%;
    margin-top: 60px;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    transform: translate(-50%, 50%);
    box-shadow: 0px 0px 15px 14px black;
    color: greenyellow;
}

.converter{
    text-align: center;
    margin: 20px 0px;
}

#input{
    height: 40px;
    margin-left: 110px;
    text-align: center;
   
}

#result{
    height: 40px;
    text-align: center;
    
}

#inputType, #resultType{
    width: 200px;
    height: 30px;
    margin-left: 100px;
    color: gold;
}

#resultType{
    margin-left: 13px;
}

nav ul {
    display: flex;
    gap: 15px;
    list-style: none;
} 
/* ==================Number To Phrase================================= */

.wrapper{
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(#36454f 50%, #1a2421 50%);
}

.form-container{
    display: flex;
    padding: 50px 35px;
    background: #e6e8fa;
    flex-direction: column;
    width: 440px;
    border-radius: 15px 0px 15px 0px;
}

#form{
    display: flex;
    flex-direction: column;
    margin: 20px;
}
.header{
    text-align: center;
    margin-bottom: 12px;
    font-size: 28px;
    color: #ff0000;
}

#form input{
    background: none;
    border: none;
    outline: none;
    font-size: 20px;
    height: 50px;
}

.btn{
    height:40px;
    width: 100%;
    border: none;
    color: #ffff;
    cursor: pointer;
    margin-top: 10px;
    font-size: x-large;
    border-radius: 15px;
    background: green;
}

.btn:hover{
    transform: scale(1.3);
}

#form1{
    background: #e6e8fa;
    height:10vh;
    padding: 25px 40px 30px;

    width: 440px;
    margin-top: 50px;
    
    font-size: x-large;
    border-radius: 0px 15px 0px 15px;
    
}

#phraseResult{
    font-size: x-large;
    margin-left: 10px;
    color: #ff0000;
    
}

/* ==================Password Generator================================== */

.container{
    width: 35%;
    height: 300px;
    padding: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    align-items: center;
    left: 70px;
    margin: auto;
    box-shadow: inset 0 0 10px whitesmoke, 
    inset 0 0 15px whitesmoke,
    inset 0 0 25px whitesmoke,
    inset 4px 6px 40px whitesmoke;
    border-radius: 35px;
    background-image: linear-gradient(40deg, grey, black, #e6e8fa);
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);

}

.password-container{
    justify-content: center;
    display: flex;
    align-items: center;
}

#text-input{
    box-shadow: 
    inset 0 0 4px black,
    inset 0 0 4px black,
    inset 0 0 5px black,
    inset 0 0 4px black,;
    border-radius: 10px;
    height: 45px;
    align-items: center;
    align-self: center;
    transform: scale(1.4);
    padding: 10px;
    
}

#button{
    background-color: rgb(23, 24, 24);
    color: #e6e8fa;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 30px;
    border-radius: 10px;
    border: 2px solid #ff0000;
    cursor: pointer;
    margin-top: 20px;
    align-self: center;
    transform: scale(1.4);
}

#button:hover{
    transform: scale(1.3);
}

check for errors
#todoItem.complete p{
    text-decoration: line-through;
    color: #e6e8fa;
}

.title{
    font-size: 30px;
    color: #e6e8fa;
    margin: 40px 0 0 20px;
    letter-spacing: 2px;
    align-items: center;
    justify-content: center;
    display: flex;
}
/* 
.todo-container{
    height: 70vh;
    max-width: 800px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0 20px 60px #e6e8fa;
    border-radius: 10px;
    margin-left: 450px;
    position: relative;

}

.addTacks{
    width: 100%;
    display: flex;
    padding: 10px 0;
}

#todoInput{
    width: 90%;
    color: #ff0000;
    border: none;
    border-bottom: 4px solid #ff0000;
    padding: 10px;
    font-size: 22px;
    outline: none;
    background-color: none;
    border-radius: 20px;
} 

.toDobutton{
    margin: 0 10px;
    background: #222;
    color: #e6e8fa;
    font-size: larger;
    text-transform: uppercase;
    padding: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
}

.Completed, .notCompleted{
    margin: 6px 0;
    padding: 25px;
}

h3{
    font-size: larger;
    text-transform: uppercase;
    text-align: center;
    color: #e6e8fa;
}
ol{
    list-style: none;
    counter-reset: count;
}

ol li{
    padding: 20px;
    margin: 5px 0;
    background: #ff3800;
    font-size: large;
    counter-increment: count;
}

#Tacks{
    background: #8fbc8f;
}

ol li::before{
    content: counter(count);
    background: #e6e6fa;
    width: 2rem;
    height: 2rem;
    border-radius: 60%;
    display: inline-block;
    line-height: 2rem;
    text-align: center;
    color: black;
    margin-right: 0.6px;

}

#btnTodo{
    float: right;
    padding: 6px;
    font-size: large;
    line-height: 30px;
    margin-right: 15px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
} */

















/* .todolist{
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 10px;
}

#toDo-input{
    padding: 15px;
    border: 4px solid #ff0000;
    border-radius: 10px;
    align-self: center;
    align-items: center;
    font-size: 18px;
    outline: none;
}
#addList{
    border: none;
    border-radius: 20px;
    background-color: blue;
    outline: none;
    font-size: larger;
    color: #e6e8fa;
}

#todoTacks{
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 20px 60px #e6e8fa;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    background-color: #e6e8fa;
    

}
#todoItem{
    font-size: large;
    color: #e6e8fa;
    letter-spacing: 2px;
} */