<body>
    <section class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">

                </div>


            </div>
            <div class="col-12">
                <div class="card">
                    
                </div>


            </div>




        </div>





    </section>




</body>

Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore et in soluta, dolore aliquam sequi 

ipsa inventore praesentium quos reprehenderit corrupti dolorum modi assumenda, ullam voluptates facilis vero voluptatibus asperiores?
Excepturi tempora temporibus beatae exercitationem reiciendis. Voluptates non perferendis ex repudiandae voluptatem. Explicabo architecto ipsum quod illum aliquam minima exercitationem a at temporibus tempora ad corrupti, in voluptatibus beatae! Neque.
Vitae aspernatur corrupti neque omnis nemo architecto quaerat natus quasi eaque, ducimus debitis dolorem incidunt asperiores enim similique amet doloremque quam ipsa modi? Quis fuga sit reprehenderit optio, voluptates nulla!
A, ipsa sed optio asperiores nisi sapiente animi, ratione minima ut beatae eaque vero ex velit aliquid? Eius eos tenetur perspiciatis. Nulla ipsam mollitia, a magnam tempore odit necessitatibus cupiditate.
Eos eius, fugit, quas officiis vitae laboriosam molestias totam consectetur soluta facere iste voluptate perspiciatis dolorem odit cum reprehenderit a. Et aut enim quas repellat debitis beatae esse quibusdam quae!
Asperiores similique culpa rem cumque quos accusamus reprehenderit dignissimos quo voluptatibus aperiam, mollitia sunt dolorem repudiandae dolorum, eligendi repellendus nam nostrum quis! Necessitatibus reiciendis, pariatur voluptate corporis ea eius inventore.
Odio repudiandae, eos saepe architecto perferendis nisi aliquam cupiditate non rerum ad odit deserunt voluptas, reiciendis similique alias veritatis nulla provident eveniet dolorum debitis velit exercitationem. Quos assumenda laudantium nesciunt.
Ea quia ipsum porro in atque impedit beatae eaque! Eligendi doloremque sequi aut corrupti blanditiis? Obcaecati libero vel magnam. Inventore reiciendis neque eligendi saepe modi cumque maiores repellat nihil autem?