<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlexBox_Lab</title>

    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
</head>

<body>
    <header>
        <h1>Welcom To FlexBox Lab-02</h1>
    </header>
    <section class="flexbox" id="flexbox">
        <div class="top-nav">
            <nav>
                <ul>
                    <li>
                        <a href="#">HOME</a>
                    </li>
                    <li>
                        <a href="#">ABOUT</a>
                    </li>
                    <li>
                        <a href="#">SEARCH</a>
                    </li>
                    <li>
                        <a href="#">CONTACT</a>
                    </li>
                    <li>
                        <a href="#">POLICY</a>
                    </li>
                    <li>
                        <a href="#">TRAINING</a>
                    </li>
                </ul>
            </nav>
        </div>
    <section class="container" id="flexbox2">
        <div class="counts">
            <nav id="side-nav">
                <a href="#">Policy</a>
                <a href="#">Profile</a>
                <a href="#">Clients</a>
                <a href="#">Services</a>
                <a href="#">Address</a>
                <!-- <nav>
                    <li>
                        <a href="#">Policy</a>
                    </li>
                    <li>
                        <a href="#">Profile</a>
                    </li>
                    <li>
                    <a href="#">Clients</a>
                </li>
                <li>
                    <a href="#">Address</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li> -->
            </nav>
        </div>
    </section>
    </div>
    <div>
    <h2>Multiple Posts</h2>
        <div class="row">
            <div class="post_contents">
                        <h3>Content Post 1</h3>
                        <p>
                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in
                            their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                        </p> 
                    </div>
                    <div class="post_contents">
                        <h3>Content Post 2</h3>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        </p>
                    </div>
                    <div class="post_contents">
                        <h3>Content Post 3</h3>
                        <p>
                            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. 
                        </p>
                    </div>
                </div>
                <div class="footer">
                    <h2>Footer</h2>
                    <p>
                        But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain.
                    </p>
                </div>
        </div>  
    </div> 
        
    </section>
</body>

</html>