<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document FlexBox</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
</head>
<header>
    <h1>Welcom To FlexBox Lab-02</h1>
</header>

<body>
    <div class="topnav">
        <nav>
            <ul>
                <li>
                    <a href="#">HOME</a>
                </li>
                <li>
                    <a href="#">ABOUT</a>
                </li>
                <li>
                    <a href="#">SEARCH</a>
                </li>
                <li>
                    <a href="#">CONTACT</a>
                </li>
                <li>
                    <a href="#">POLICY</a>
                </li>
                <li>
                    <a href="#">TRAINING</a>
                </li>
            </ul>
        </nav>
    </div>
    <section class="container">
        <div class="sidenav">
            <ul>
                <li>
                    <a href="">Policy</a>
                </li>
                <li>
                    <a href="">Profile</a>
                </li>
                <li>
                    <a href="">Clients</a>
                </li>
                <li>
                    <a href="">Services</a>
                </li>
                <li>
                    <a href="">Address</a>
                </li>
            </ul>
        </div>


        <div class="row">
            <h2>Multiple Post</h2>
            <div class="posts-container">
                <div class="post-contents">
                    <h3>Content Post 1</h3>
                    <p>
                        It is a long established fact that a reader will be distracted by the readable content of a page
                        when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                        distribution of letters, as opposed to using 'Content here, content here', making it
                    </p>
                </div>
                <div class="post-contents">
                    <h3>Content Post 2</h3>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book. It has survived not only five
                    </p>
                </div>
                <div class="post-contents">
                    <h3>Content Post 3</h3>
                    <p>
                        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                        classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a
                        Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin
                    </p>
                </div>
            </div>
        </div>

    </section>
    <div class="footer">
        <h2>Footer</h2>
        <p>
            But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was
            born and I will give you a complete account of the system, and expound the actual teachings of the
            great explorer of the truth, the master-builder of human happiness. No one rejects,
        </p>
    </div>

</body>

</html>