@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Fredericka+the+Great&family=Raleway:wght@200;400;800&family=BIZ+UDPMincho&family=Raleway:wght@400;500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Square+Peg&display=swap");

header {
  background-color: #b12500;

  font-family: "Bangers", cursive;
  font-size: 70px;
  font-weight: 400;
}

.container {
  max-width: 100%
}

body {
  font-family: Raleway, sans-serif;
}

.user-input, .form-label, legend {
  font-weight: 600;
}



@media screen and (max-width: 1000px) {
  header {
      max-width: 1000px;

      font-size: 40px;
      line-height: 40px;
  }
}

@media screen and (max-width: 500px) {
  header {
      max-width: 500px;
      font-size: 30px;
      line-height: 30px;
  }
}

@media screen and (max-width: 400px) {

  header {
      max-width: 500px;
      
      font-size: 25px;
      line-height: 25px;
  }
}

hr {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border: 0;
  border-top: 0.5px solid rgba(0, 0, 0, 0.1);
}