<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Burrito Order</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Burrito Builder</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
            <a class="nav-link" href="#">Featured Creations</a>
            <a class="nav-link" href="#">Coupons</a>
          </div>
        </div>
      </div>
    </nav>
    <section class="container col-12">
      <div class="row">
        <div class="col-6 bg-light">
          <h1>Let's build your burrito!</h1>
          <h2>Select your tortilla</h2>
          <div class="form-check">
            <input
              type="radio"
              class="form-check-input"
              id="radio1"
              name="optradio"
              value="option1"
              unchecked
            />White Flour
            <label class="form-check-label" for="radio1"></label>
          </div>
          <div class="form-check">
            <input
              type="radio"
              class="form-check-input"
              id="radio1"
              name="optradio"
              value="option1"
              unchecked
            />Wheat Flour
            <label class="form-check-label" for="radio1"></label>
          </div>
          <div class="form-check">
            <input
              type="radio"
              class="form-check-input"
              id="radio1"
              name="optradio"
              value="option1"
              unchecked
            />Spinach
            <label class="form-check-label" for="radio1"></label>
          </div>
          <div class="form-check">
            <input
              type="radio"
              class="form-check-input"
              id="radio1"
              name="optradio"
              value="option1"
              unchecked
            />Corn
            <label class="form-check-label" for="radio1"></label>
          </div>
          <h2>Select your rice</h2>
          <div class="form-check">
            <input
              type="radio"
              class="form-check-input"
              id="radio1"
              name="optradio"
              value="option1"
              unchecked
            />White Rice
            <label class="form-check-label" for="radio1"></label>
          </div>
          <div class="form-check">
            <input
              type="radio"
              class="form-check-input"
              id="radio1"
              name="optradio"
              value="option1"
              unchecked
            />Brown Rice
            <label class="form-check-label" for="radio1"></label>
          </div>
          <h2>Choice of Beans</h2>
          <div class="form-check">
            <input
              type="radio"
              class="form-check-input"
              id="radio1"
              name="optradio"
              value="option1"
              unchecked
            />Black Beans
            <label class="form-check-label" for="radio1"></label>
          </div>
          <div class="form-check">
            <input
              type="radio"
              class="form-check-input"
              id="radio1"
              name="optradio"
              value="option1"
              unchecked
            />Pinto Beans
            <label class="form-check-label" for="radio1"></label>
          </div>
        </div>
        <div class="col-6 bg-light">
          <h2>Pick your Protein</h2>
          <div class="form-check">
            <input
              type="radio"
              class="form-check-input"
              id="radio1"
              name="optradio"
              value="option1"
              unchecked
            />Carnitas
            <label class="form-check-label" for="radio1"></label>
          </div>
          <div class="form-check">
            <input
              type="radio"
              class="form-check-input"
              id="radio1"
              name="optradio"
              value="option1"
              unchecked
            />Chicken
            <label class="form-check-label" for="radio1"></label>
          </div>
          <div class="form-check">
            <input
              type="radio"
              class="form-check-input"
              id="radio1"
              name="optradio"
              value="option1"
              unchecked
            />Sofritas
            <label class="form-check-label" for="radio1"></label>
          </div>
          <div class="form-check">
            <input
              type="radio"
              class="form-check-input"
              id="radio1"
              name="optradio"
              value="option1"
              unchecked
            />None
            <label class="form-check-label" for="radio1"></label>
          </div>
          <h2>Optional Ingredients</h2>
          <input
            type="checkbox"
            class="btn-check"
            id="btn-check"
            autocomplete="off"
          />
          <label class="btn" for="btn-check">Cheese</label>
          <input
            type="checkbox"
            class="btn-check"
            id="btn-check"
            autocomplete="off"
          />
          <label class="btn" for="btn-check">Sour Cream</label>
          <div class="form-group">
            <label for="exampleFormControlTextarea1"
              >Delivery Instructions</label
            >
            <textarea
              class="form-control"
              id="exampleFormControlTextarea1"
              rows="4"
            ></textarea>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
