





* .class
#id
nothing element */


h1 {
    font-family: neutral face, sans-serif;
    font-size: 13px;
    color: #80ffdb;
    text-shadow: -1px -1px black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: float;
    margin-top: 3px;
    margin-bottom: 3px;
}

h2 {
    font-family: neutral face, sans-serif;
    font-size: 25px;
    padding: 120px
}


body {
    background-image: url(images/html_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 50%;
    background-attachment: fixed;

    height: 100vh;
    width: 100%;


}

.container {

    display: flex;
    float: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#blog-box {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 25px
}

.row {

    box-shadow: inset 0 -120px 60px -35px #11489c;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    display: flex;
    width: 100%;
    height: 100vh;

}

#left-side {
    padding: 0;
    padding-top: 30px;
    width: 100%;
    display: flex;

}

.h-div {
    display: flex;

}

#side-nav {

    background-image: linear-gradient(to right, rgb(116, 0, 184), rgba(255, 0, 0, 0));
    width: 25%;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

#side-nav a {
    padding-top: 0px;
    padding-left: 5px;
    color: #48bfe3;
    padding-right: 5px;
    font-family: neutral face, sans-serif;
    font-size: 16px;
    text-decoration: underline;
    display: flex;
    align-items: center;
}

#side-nav img {
    width: 90%;
    padding-top: 20px;
    padding-bottom: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center
}

a {
    font-size: 1.5rem;
    font-weight: 600;
    color: #6930c3;
    text-decoration: none;
    font-family: neutral face, sans-serif;
}

.card-footer {

    background-color: #56cfe1;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: auto;
    padding-top: auto;
    display: flex;
    justify-content: center;
    align-items: center
}

#top-nav {
    background-color: #80ffdb;
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    justify-content: space-around;
}

#topnav a {
    text-decoration: none;
    color: #6930c3;
}

#content {
    width: 100vw;


    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0
}

.card {
    width: 350px;
    background-color: #6930c3;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}

#blog-box a {
    font-size: 16px;
    color: #5390d9;
    padding-left: 15px;
    padding-bottom: 20px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: -1px -1px black;

}

.card-body {
    width: 350px;
    background-color: rgb(17, 72, 156);
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: flex-end;
}

img {
    padding-top: 20px;
    width: 250px;
    display: flex;
    border-radius: 20px;

}

#blank {
    background-color: #11489c;
    width: 100vw;
    height: 600px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#blank-2 {
    width: 100vw;
    height: 50px;
    background-color: #5390d9;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#foot-box {
    padding-top: 20px;

}



@media screen and (min-width: 1200px) {
    .container {

        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around
    }
}

@media screen and (min-width: 950px) {
    .container {

        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around
    }
} 