{% extends 'layout/base.html' %}

{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        {% for book in books %}

        <div class="col-md-3 pt-5">
            <a class="text-decoration-none" href="#">
                <div class="card">
                    <div class="card-header bg-primary text-dark">{{book.name}}</div>
                    <div class="card-header bg-primary text-dark">{{book.author}}</div>
                    <div class="card-header bg-primary text-dark">{{book.price}}</div>
                    <div class="card-header bg-primary text-dark">{{book.resources_type}}</div>
                    <div class="card-header bg-primary text-dark">{{book.url}}</div>
                    <div class="card-footer mt-auto"><a href="#">
                            <i class="bi bi-trash"></i></a>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
        <br><br>
    </div>
</div>
<br><br>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4">

            <form method="POST" class=" d-flex flex-column" action="{% url 'study_app:books' %}">
                {% csrf_token %}

                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Add Book</legend>
                </fieldset>
                {{form}}
                <div class="form-group">
                    <button class="btn btn-waring" type="submit">
                        Add
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}