{% extends 'layout/base.html' %}
{% load static %}


{% block content %}

<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col-md-3">
            <a class="card-link text-decoration-none text-dark" href ="{% url 'study_app:projects' %}">
                <div class="card mt-4">
                    <img src="{% static 'images/a.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title">Project</h3>
                        <p class="card-text">
                            This is a longer card with supporting text
                            below as a natural lead-in to additional
                            content. This content is a little bit longer.
                            lead-in to additional little bit longer.
                            content. This content. 
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a class="card-link text-decoration-none text-dark" href ="{% url 'study_app:resource' %}">
                <div class="card mt-4">
                    <img src="{% static 'images/p.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title">Resources</h3>
                        <p class="card-text">
                            This is a longer card with supporting text
                            below as a natural  This is a longer card with supporting text
                            below as a natural 
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a class="card-link text-decoration-none text-dark" href="{% url 'study_app:dictionary' %}">
                <div class="card mt-4">
                    <img src="{% static 'images/dictionary.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title">Dictionary</h3>
                        <p class="card-text">
                            This is a longer card with supporting text
                            below as a natural lead-in to 
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a class="card-link text-decoration-none text-dark" href ="{% url 'study_app:flashcards' %}">
                <div class="card mt-4">
                    <img src="{% static 'images/flashcard.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title">Flash Card</h3>
                        <p class="card-text">
                            This is a longer card with supporting text
                            below as a natural lead-in 
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a class="card-link text-decoration-none text-dark" href ="#">
                <div class="card mb-3">
                    <img src="{% static 'images/game.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title">Game</h3>
                        <p class="card-text">
                            This is a longer card with supporting text
                            below as a natural.with supporting text.
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a class="card-link text-decoration-none text-dark" href ="#">
                <div class="card mb-3">
                    <img src="{% static 'images/icon.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title">Media/Videos</h3>
                        <p class="card-text">
                            This is a longer card with supporting text
                            below as a natural. with supporting text
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a class="card-link text-decoration-none text-dark" href ="#">
                <div class="card mb-3">
                    <img src="{% static 'images/wikipedia.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title">Wikipedia</h3>
                        <p class="card-text">
                            This is a longer card with supporting text
                            below as a natural lead-in to additional
                            content. 
                        </p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a class="card-link text-decoration-none text-dark" href ="#">
                <div class="card mb-3">
                    <img src="{% static 'images/homework.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title">Homework</h3>
                        <p class="card-text">
                            This is a longer card with supporting text
                            below as a natural lead-in to additional
                            content. 
                        </p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

{% endblock content %}