<footer class="container-fluid bg-secondary p-5 text-light">
    <div class="row">
        <div class="col-12 col-lg-8">
            <p>
                <span class="fw-bold h4">
                    Jad Dokes
                </span>
                was created for Class Liger at <br />
                <a href="https://pdxcodeguild.com" class="link-light text-decoration-none">PDX Code Guild</a>
            </p>
            <p>
                Jad Dokes uses the
                <a href="https://icanhazdadjoke.com" class="link-light text-decoration-none fst-italic">icanhazdadjoke.com</a>
                web API.
            </p>
        </div>

        <div class="col-12 col-lg-4">
            <div class="row">
                <div class="col-12 col-lg-6 d-flex flex-column">
                    <a href="#" class="link-light text-decoration-none">Contact</a>
                    <a href="#" class="link-light text-decoration-none">Twitter</a>
                    <a href="#" class="link-light text-decoration-none">Slack app</a>
                    <a href="#" class="link-light text-decoration-none">Alexa skill</a>
                    <a href="#" class="link-light text-decoration-none">Discord bot</a>
                    <a href="#" class="link-light text-decoration-none">HipChat plugin</a>
                    <a href="#" class="link-light text-decoration-none">Twist integration</a>
                </div>
                <div class="col-12 col-lg-6 d-flex flex-column">
                    <a href="#" class="link-light text-decoration-none">About</a>
                    <a href="#" class="link-light text-decoration-none">API</a>
                    <a href="#" class="link-light text-decoration-none">Random joke</a>
                    <a href="#" class="link-light text-decoration-none">Search jokes</a>
                    <a href="#" class="link-light text-decoration-none">Submit new joke</a>
                </div>
            </div>
        </div>
    </div>
</footer>