<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- use special Flask syntax to link stylesheet -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='blog_styles.css')}}"
    />

    <title>Wee Blog</title>
  </head>
  <body>
    <h1>Hello World!</h1>
    <div class="container">
      <div class="left-column">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Morbi
          tempus iaculis urna id volutpat. Posuere sollicitudin aliquam ultrices
          sagittis orci. Feugiat in fermentum posuere urna. Pellentesque nec nam
          aliquam sem et. Quisque sagittis purus sit amet. Eget gravida cum
          sociis natoque penatibus et.
        </p>
      </div>
      <div class="right-column">
        <div>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Morbi
          tempus iaculis urna id volutpat. Posuere sollicitudin aliquam ultrices
          sagittis orci. Feugiat in fermentum posuere urna. Pibus et.
        </div>
        <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Morbi
            tempus iaculis urna id volutpat. Posuere sollicitudin aliquam ultrices
            sagittis orci. Feugiat in fermentum posuere urna. Pibus et.
        </div>
      </div>
    </div>
  </body>
</html>
