<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- use special Flask syntax to link stylesheet -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='blog_styles.css')}}"
    />

    <title>Faux Blog</title>
  </head>
  <body>
    <h1>Welcome!</h1>
    <div class="container">
      <div class="left-column">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Morbi
          tempus iaculis urna id volutpat.
        </p>
      </div>
      <section id="right-side">
        <div class="right-column">
          <p class="post">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Est
            placerat in egestas erat imperdiet sed. Ac orci phasellus egestas
            tellus rutrum. Sed augue lacus viverra vitae congue eu consequat ac
            felis. Orci phasellus egestas tellus rutrum. Purus faucibus ornare
            suspendisse sed nisi lacus sed viverra tellus. Metus dictum at
            tempor commodo ullamcorper a lacus vestibulum. Integer malesuada
            nunc vel risus commodo viverra. Turpis in eu mi bibendum neque. Nisl
            rhoncus mattis rhoncus urna neque viverra. Morbi tristique senectus
            et netus et. Morbi leo urna molestie at. Vel turpis nunc eget lorem
            dolor. Mauris sit amet massa vitae tortor condimentum lacinia.
            Vivamus at augue eget arcu dictum varius. Volutpat sed cras ornare
            arcu dui vivamus arcu felis bibendum. Accumsan lacus vel facilisis
            volutpat est velit egestas dui id. Felis eget nunc lobortis mattis
            aliquam.
          </p>
          <p class="post">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Est
            placerat in egestas erat imperdiet sed. Ac orci phasellus egestas
            tellus rutrum. Sed augue lacus viverra vitae congue eu consequat ac
            felis. Orci phasellus egestas tellus rutrum. Purus faucibus ornare
            suspendisse sed nisi lacus sed viverra tellus. Metus dictum at
            tempor commodo ullamcorper a lacus vestibulum. Integer malesuada
            nunc vel risus commodo viverra. Turpis in eu mi bibendum neque. Nisl
            rhoncus mattis rhoncus urna neque viverra. Morbi tristique senectus
            et netus et. Morbi leo urna molestie at. Vel turpis nunc eget lorem
            dolor. Mauris sit amet massa vitae tortor condimentum lacinia.
            Vivamus at augue eget arcu dictum varius. Volutpat sed cras ornare
            arcu dui vivamus arcu felis bibendum. Accumsan lacus vel facilisis
            volutpat est velit egestas dui id. Felis eget nunc lobortis mattis
            aliquam.
          </p>

          <p class="post">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Est
            placerat in egestas erat imperdiet sed. Ac orci phasellus egestas
            tellus rutrum. Sed augue lacus viverra vitae congue eu consequat ac
            felis. Orci phasellus egestas tellus rutrum. Purus faucibus ornare
            suspendisse sed nisi lacus sed viverra tellus. Metus dictum at
            tempor commodo ullamcorper a lacus vestibulum. Integer malesuada
            nunc vel risus commodo viverra. Turpis in eu mi bibendum neque. Nisl
            rhoncus mattis rhoncus urna neque viverra. Morbi tristique senectus
            et netus et. Morbi leo urna molestie at. Vel turpis nunc eget lorem
            dolor. Mauris sit amet massa vitae tortor condimentum lacinia.
            Vivamus at augue eget arcu dictum varius. Volutpat sed cras ornare
            arcu dui vivamus arcu felis bibendum. Accumsan lacus vel facilisis
            volutpat est velit egestas dui id. Felis eget nunc lobortis mattis
            aliquam.
          </p>
          <p class="post">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Est
            placerat in egestas erat imperdiet sed. Ac orci phasellus egestas
            tellus rutrum. Sed augue lacus viverra vitae congue eu consequat ac
            felis. Orci phasellus egestas tellus rutrum. Purus faucibus ornare
            suspendisse sed nisi lacus sed viverra tellus. Metus dictum at
            tempor commodo ullamcorper a lacus vestibulum. Integer malesuada
            nunc vel risus commodo viverra. Turpis in eu mi bibendum neque. Nisl
            rhoncus mattis rhoncus urna neque viverra. Morbi tristique senectus
            et netus et. Morbi leo urna molestie at. Vel turpis nunc eget lorem
            dolor. Mauris sit amet massa vitae tortor condimentum lacinia.
            Vivamus at augue eget arcu dictum varius. Volutpat sed cras ornare
            arcu dui vivamus arcu felis bibendum. Accumsan lacus vel facilisis
            volutpat est velit egestas dui id. Felis eget nunc lobortis mattis
            aliquam.
          </p>
          <p class="post">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Est
            placerat in egestas erat imperdiet sed. Ac orci phasellus egestas
            tellus rutrum. Sed augue lacus viverra vitae congue eu consequat ac
            felis. Orci phasellus egestas tellus rutrum. Purus faucibus ornare
            suspendisse sed nisi lacus sed viverra tellus. Metus dictum at
            tempor commodo ullamcorper a lacus vestibulum. Integer malesuada
            nunc vel risus commodo viverra. Turpis in eu mi bibendum neque. Nisl
            rhoncus mattis rhoncus urna neque viverra. Morbi tristique senectus
            et netus et. Morbi leo urna molestie at. Vel turpis nunc eget lorem
            dolor. Mauris sit amet massa vitae tortor condimentum lacinia.
            Vivamus at augue eget arcu dictum varius. Volutpat sed cras ornare
            arcu dui vivamus arcu felis bibendum. Accumsan lacus vel facilisis
            volutpat est velit egestas dui id. Felis eget nunc lobortis mattis
            aliquam.
          </p>
          <p class="post">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Est
            placerat in egestas erat imperdiet sed. Ac orci phasellus egestas
            tellus rutrum. Sed augue lacus viverra vitae congue eu consequat ac
            felis. Orci phasellus egestas tellus rutrum. Purus faucibus ornare
            suspendisse sed nisi lacus sed viverra tellus. Metus dictum at
            tempor commodo ullamcorper a lacus vestibulum. Integer malesuada
            nunc vel risus commodo viverra. Turpis in eu mi bibendum neque. Nisl
            rhoncus mattis rhoncus urna neque viverra. Morbi tristique senectus
            et netus et. Morbi leo urna molestie at. Vel turpis nunc eget lorem
            dolor. Mauris sit amet massa vitae tortor condimentum lacinia.
            Vivamus at augue eget arcu dictum varius. Volutpat sed cras ornare
            arcu dui vivamus arcu felis bibendum. Accumsan lacus vel facilisis
            volutpat est velit egestas dui id. Felis eget nunc lobortis mattis
            aliquam.
          </p>
        </div>
      </section>
    </div>
    <footer>Thanks for stopping by!</footer>
  </body>
</html>
