<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Lab 2</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    </head> 
    <body>

            <h1>My Fake Blog</h1>
                
            <div class="row" id="top-menu">
            <ul>
                <li>About</li>
                <li>Posts</li>
                <li>Affiliate Links</li>
            </ul>
            </div>


            <div class="wrapper">
                <aside class="sidebar">
                    <a href="">About</a>
                    <a href="">Posts</a>
                    <a href="">Affiliate Links</a>
                </aside>

                <main class="content">
                    <div class="box">Post 1 - Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur quam, mollitia dolores perspiciatis delectus vel, laudantium atque distinctio beatae illum, accusamus fugiat repudiandae sint numquam facere! Dolore eum tenetur eos?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, molestias, tempore mollitia repellendus minima, libero amet debitis autem rerum fugiat enim sunt quod laboriosam pariatur blanditiis ducimus cum totam iusto?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam eius dignissimos delectus! Minus ab similique molestias dolor deserunt ratione consectetur enim aliquam laborum facere consequuntur aperiam beatae, voluptates totam temporibus.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis explicabo ipsum debitis ipsa dolor laudantium expedita beatae voluptates voluptatum quod eaque exercitationem impedit ut, vero minus nostrum nobis quibusdam dolorem?
                    </div>
                    <div class="box">Post 2 - Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis suscipit quidem ad atque sequi ipsum possimus quas rem quae rerum eius cupiditate doloribus quam impedit incidunt, hic veritatis earum nobis?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt praesentium placeat magni architecto earum qui illum labore reiciendis possimus accusamus modi quo asperiores aspernatur, voluptatum numquam, enim iusto harum eius?
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae tempore quos facilis nobis veritatis amet, dolorem officiis, maxime similique earum nihil iusto dignissimos debitis et sapiente mollitia voluptas ab quae?
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium minima dolores atque saepe sit soluta reprehenderit ratione! Illo consectetur eaque quod necessitatibus tenetur, quasi recusandae? Eos suscipit ipsum aliquam beatae!
                    </div>
                    <div class="box">Post 3 - Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque commodi nam, officiis libero ab reiciendis recusandae inventore iusto corrupti cumque eum similique necessitatibus cupiditate accusantium. A asperiores velit nemo enim.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi exercitationem laboriosam similique facilis minus excepturi suscipit earum, iste aliquam, debitis a ea nulla, maxime saepe ipsa incidunt facere quasi! Voluptates.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Et est quo aliquid perspiciatis, facilis tenetur cumque eum sequi, officia quod modi rerum iusto? Ratione molestiae mollitia animi consequatur! Magni, expedita.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio accusamus voluptates repudiandae in officia, animi blanditiis non repellat sed, laudantium nesciunt? Facere corporis doloremque id est consequatur, non dolore labore!
                    </div>
                </main>
            </div>



        </div>
    </body>
</html>