{% extends 'base.html' %} {% block content %}

<div class="container">
  <div class="row">
    <div class="d-flex col-12 align-content-center">
      <h1>{{user.username}}'s Profile</h1>
    </div>
    <div class="d-flex flex-column col-12">
      <div class="row">
        {% for post in posts %}
        <div class="card h-auto col-12 mx-auto mb-5 justify-content-center">
          <h1>{{ post.title }}</h1>
          <br />
          <p>{{ post.body }}</p>
          <cite>{{post.user}}</cite>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}
