{% extends 'layout/base.html' %}

{% block content %}


<h1>Log In</h1>
<form action="{% url 'users_app:login' %}" method="POST">
    <label for="username">Username</label>
    <input type="text" name="username" id="username">
    <br />
    <label for="password">Password</label>
    <input type="password" name="password" id="password">

    <br/>
    {% csrf_token %}
    <input type="submit" id="submit" value="Log In">
</form>

<!-- link to register route -->
<p>Need an account? <a href="{% url 'users_app:register' %}">Register</a></p>


{% endblock content %}