<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Create_Post</title>
</head>

<body>
    <h1>Create Account</h1>
    <form action="{% url 'blog_app:create' %}" method="post">
        <label for="username" class="mt-2 mb-2">Create</label>
        <input type="text" name="username" id="username">
        <label for="password" class="mt-2 mb-2">Password</label>
        <input type="password" name="password" id="password">

        {% csrf_token %}

        <input type="submit" id="submit" value="Create" class="btn btn-primary">
       
    </form>
</body>

</html>