{% extends 'base.html' %}


{% block content %}

<h1>Login</h1>

<form action="{% url 'usersystem_app:login' %}" method="POST">
    <label for="username" class="mt-2 mb-2">Username</label>
    <input type="text" name="username" id="username">
    <label for="password" class="mt-2 mb-2">Password</label>
    <input type="password" name="password" id="password">

    {%csrf_token%}
        
   
    <input type="submit" id="submit" value="Login" class="btn btn-warning mt-3">
</form>


{% endblock content %}