<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- use special Flask syntax to link stylesheet -->
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='company_styles.css')}}"
    />

    <title>Skate park USA</title>
  </head>
  <body>
    <h1>Indoor skatepark is here!</h1>
    <div class="container">
      <section id="main-page">
        <p class="info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Est
          placerat in egestas erat imperdiet sed. Ac orci phasellus egestas
          tellus rutrum. Sed augue lacus viverra vitae congue eu consequat ac
          felis. Orci phasellus egestas tellus rutrum. Purus faucibus ornare
          suspendisse sed nisi lacus sed viverra tellus. Metus dictum at
          tempor commodo ullamcorper a lacus vestibulum. Integer malesuada
          nunc vel risus commodo viverra. Turpis in eu mi bibendum neque. Nisl
          rhoncus mattis rhoncus urna neque viverra. Morbi tristique senectus
          et netus et. Morbi leo urna molestie at. Vel turpis nunc eget lorem
          dolor. Mauris sit amet massa vitae tortor condimentum lacinia.
          Vivamus at augue eget arcu dictum varius. Volutpat sed cras ornare
        </p>
        
        <p class="info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Est
          placerat in egestas erat imperdiet sed. Ac orci phasellus egestas
          tellus rutrum. Sed augue lacus viverra vitae congue eu consequat ac
          felis. Orci phasellus egestas tellus rutrum. Purus faucibus ornare
          suspendisse sed nisi lacus sed viverra tellus. Metus dictum at
          tempor commodo ullamcorper a lacus vestibulum. Integer malesuada
          nunc vel risus commodo viverra. Turpis in eu mi bibendum neque. Nisl
          rhoncus mattis rhoncus urna neque viverra. Morbi tristique senectus
          et netus et. Morbi leo urna molestie at. Vel turpis nunc eget lorem
          dolor. Mauris sit amet massa vitae tortor condimentum lacinia.
          Vivamus at augue eget arcu dictum varius. Volutpat sed cras ornare
        </p>

          
        
        
      </section>
      </div>
    </body>
</html>
