<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- use special Flask syntax to link stylesheet -->
    <link rel="stylesheet" href="{{url_for('static', filename='company_styles.css')}}">

    <title>Company Home</title>
</head>
<body>
<h1>Company home page for foster kid rec center</h1>


<footer>Current Staff Volunteers</footer>
</body>
</html>