{% extends 'base.html' %}

{% block content %}

<h1 class="mt-3">CREATE BLOGPOST</h1>
<form action="{% url 'blog_app:create' %}" method="post">
    <span class="border border-primary border-5 mt-4">
        <label for="blogpost_title" class="fw-bold lead form-label">
            <h2>Title</h2>
        </label>
        <input type="text" class="form-control" name="blogpost_title" id="blogpost_title">
        <label for="blogpost_body" class="fw-bold lead form-label">
            <h2>Body</h2>
        </label>
        <textarea rows="8" cols="45" name="blogpost_body" id="blogpost_body" class="form-control"></textarea>
    </span>
    {% csrf_token %}
    <input type="submit" id="submit" value="Create" class="btn btn-primary mt-3">
</form>

{% endblock content %}