{% extends 'base.html' %}

{% block content %}


    <body>
        <h1>Blog Post</h1>
        <form action="{% url 'blog_app:create' %}" method="post">
            <label for="blogpost_title" class="mt-2 mb-2 fw-bold lead form-label" cl>Title</label>
            <input type="text" class="form-control" name="blogpost_title" id="blogpost_title">
            <label for="blogpost_body" class="mt-2 mb-2 fw-bold lead form-label">Body</label>
            <textarea rows="10" cols="60" name="blogpost_body" id="blogpost_body" class="form-control"></textarea>

            {% csrf_token %}

            <input type="submit" id="submit" value="Create" class="btn btn-primary mt-4">

        </form>
    </body>

    </html>

{% endblock content %}